################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Retrosheet/Database/bin/Debug
/Retrosheet/Database/obj/Debug
/Retrosheet/Packages/bin/Development
/Retrosheet/Packages/obj/Development
